{% extends 'layouts/master.html' %}
{% load static %}

{% block title %} About Me  {% endblock title %}

{% block content %} 

<main class="main-wrapper">
    <!-- about me start  -->
    <section class="about-me  bg-light">
        <div class="container-fluid container-lg">
            <div class="wrapper">
                <div class="row row-cols-1 row-cols-lg-2">
                    <div class="col order-2 order-lg-1">
                        <div class="about-txt mt-4 mt-lg-0 container">
                            <h1 class="name mt-2">{{ name }}</h1>
                            <h4 class="mt-2 mt-md-3 sub-heading text-capitalize">{{ position }}</h4>
                            <p class="my-bio my-4 text">
                                I'm a software engineer specialised in frontend and backend development for complex scalable web apps. I write about software development on 
                                <a href="{% url 'blogs' %}" target="_blank" class="text-link">my blogs</a>
                                . Want to know how I may help your project? Check out my project 
                                <a href="{% url 'portfolio' %}" target="_blank" class="text-link">portfolio</a> and
                                <a href="{% url 'resume' %}" target="_blank" class="text-link">online resume</a>
                                
                            </p>


                            <a href="{% url 'portfolio' %}" class="btn btn-primary me-3">View Portfolio</a>
                            <a href="{% url 'resume' %}" class="btn btn-dark">View Resume</a>
                        </div>
                    </div>

                    <div class="col order-1 order-lg-2">
                        <img class="cover-photo" src="https://www.simplilearn.com/ice9/free_resources_article_thumb/Technology_Trends.jpg" alt="">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- about me end  -->

    <!-- skills start -->
     <section class="skills">
        <div class="container">
            <div class="wrapper">
                <h2 class="section-heading ">What I do</h2>
                <p class="mt-3 pb-1 text">
                    I have more than 3 years of experience building software for clients worldwide. Below is a quick overview of my main technical skill sets and the technologies I use. Want to find out more about my experience? Check out my <a href="{% url 'resume' %}" target="_blank" class="text-link">online resume</a> and <a href="{% url 'portfolio' %}" target="_blank" class="text-link">project portfolio</a>.</p>

                <div class="row g-4  row-cols-2 row-cols-lg-4 mt-2 mt-lg-4 ">

                    {% for skill in skills %}
                    <div class="col">
                        <div class="skill-card" >
                            <!-- icon  -->
                            {% if skill.icon_1 %}
                            <i class="{{ skill.icon_1 }} me-2 rounded-1 my-0"></i>
                            {% endif %}

                            {% if skill.icon_2 %}
                            <i class="{{ skill.icon_2 }} me-2 rounded-1 my-0"></i>
                            {% endif %}

                            {% if skill.icon_3 %}
                            <i class="{{ skill.icon_3 }} me-2 rounded-1 my-0"></i>
                            {% endif %}

                            <!-- logo  -->
                            {% if skill.logo_1 %}
                            <img src="{{ skill.logo_1.url }}" class=" rounded-1 mb-1 me-2 object-fit-cover" style="margin-top: -8px; width: 27px; height: 27px;">
                            {% endif %}

                            {% if skill.logo_2 %}
                            <img src="{{ skill.logo_2.url }}" class=" rounded-1 mb-1 me-2 object-fit-cover" style=" width: 27px; height: 27px;">
                            {% endif %}

                            {% if skill.logo_3 %}
                            <img src="{{ skill.logo_3.url }}" class=" rounded-1 mb-1 me-2 object-fit-cover" style=" width: 27px; height: 27px;">
                            {% endif %}

                            <h5 class="card-title">{{ skill.name }}</h5>
                            <p class="card-text mt-2">{{ skill.skill_txt }}</p>
                        </div>
                    </div>
                    {% endfor %}

                </div>

                <div class="text-center"><a href="{% url 'pricing' %}"  class="btn btn-primary mt-5">Services & Pricing</a></div>
            </div>
        </div>
     </section>
    <!-- skills end -->

    <!-- Projects start  -->
     <section class="projects ">
        <div class="container">
            <div class="wrapper">
                <h2 class="section-heading">Feature Projects</h2>
                <div class="row g-4 row-cols-1 row-cols-sm-2 mt-3 mt-lg-4 mt-xl-5">
                    
                    {% for project in projects %}
                    {% include 'components/projects.html' %}
                    {% endfor %}

                </div>

                <div class="text-center"><a href="{% url 'portfolio' %}" class="btn btn-primary mt-5">View Portfolio</a></div>

            </div>
        </div>
     </section>
    <!-- Projects end -->

    <!-- Testimonials start -->
     <section class="testimonials py-4  py-xl-5">
        <div class="container">
            <div class="wrapper">
                <h2 class="section-heading">Testimonials</h2>

                <div class="row g-4 row-cols-3 mt-3 mt-lg-4 mt-xl-5">


                    {% for testimonial in testimonials %}
                    <div class="col">
                        <div class="card overflow-hidden position-relative rounded border-0">
                            <div class="quote "><i class="fa-solid fa-quote-left"></i></div>
                            <p class="card-text">{{ testimonial.comments }}</p>
                            <div class="d-flex mt-3">
                                <img class="user-photo rounded-circle" src="{{ testimonial.image.url }}" alt="User Profile Photo">
                                <div class="ms-3 mt-2">
                                    <h6 class="card-title mb-1">{{ testimonial.full_name }}</h6>
                                    <small class="card-text">{{ testimonial.position }}</small>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}

                </div>
            </div>
        </div>
     </section>
    <!-- Testimonials end -->

    <!-- Latest Blog Posts start  -->
    <section class="blogs py-4 py-xl-5">
        <div class="container">
            <div class="wrapper">
                <h2 class="section-heading">Latest Blog Posts</h2>
                <div class="row g-3 row-cols-1 row-cols-sm-2 row-cols-lg-3 mt-3 mt-lg-4 mt-xl-5">
                    

                    {% for blog in blogs %}
                    <div class="col">
                        {% include 'components/blogs.html' %}
                    </div>
                    {% endfor %}
                </div>

                <div class="text-center mt-5"><a href="{% url 'blogs' %}" class="btn btn-primary">View Blogs</a></div>

            </div>
        </div>
    </section>
    <!-- Latest Blog Posts end -->





    {% include 'layouts/footer.html' %}
    {% include 'components/go_top.html' %}

</main>



















{% endblock content %}


