@use '../base/index' as *;
@use '../partials/variables' as *;

.hire-me{
    padding: 4rem 0;
    background: $bg-light;
    .heading{font-size: 1.5rem;}
    .text{padding: 0 10rem;}
}

@media (max-width: 1600px) {
    .hire-me{
        .text{padding: 0 5rem;}
    }
}
@media (max-width: 1400px) {
    .hire-me{
        // padding: 4rem 0;
        // background: $bg-light;
        // .heading{font-size: 1.5rem;}
        .text{padding: 0;}
    }
}
@media (max-width: 1200px) {
    .hire-me{
        .heading{font-size: 1.3rem;}
    }
}
@media (max-width: 768px) {
    .hire-me{
        padding: 2rem 0;
        .heading{font-size: 1rem;}
    }
}