<!-- nav bottom start  -->
<nav id="nav-bottom" class="fixed-bottom bg-white nav-bottom" >
    
    <div class="container">
        
        <div class=" " >
            <ul class="d-flex justify-content-between " >
                <li class="nav-item">
                <a class="nav-link nav-link-sm text-center active" aria-current="page" href="index.html"><i class="fa-solid fa-house"></i><span class="d-block">Home</span></a>
                </li>
                <li class="nav-item text-center">
                <a class="nav-link nav-link-sm" href="courses.html"><i class="fa-solid fa-graduation-cap"></i><span class="d-block">Cource</span></a>
                </li>
                <li class="nav-item text-center">
                <a class="nav-link nav-link-sm " href="community.html"><i class="fa-solid fa-user-group ms-3"></i><span class="d-block">Community</span></a>
                </li>
                <li class="nav-item text-center">
                <a class="nav-link nav-link-sm " href="events.html"><i class="fa-regular fa-calendar-check"></i><span class="d-block">Event</span></a>
                </li>
                <li class="nav-item text-center">
                <a class="nav-link nav-link-sm "  href="userProfile.html"><i class="fa-solid fa-user" type="button" data-bs-toggle="collapse" data-bs-target="#sidebarMenu"></i><span class="d-block">Profile</span></a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<!-- nav bottom end  -->