<footer class="footer py-4 mt-4 ">
    <div class="container">
        <div class="wrapper text-center position-relative">
            <small class="text-dark copyright">Copyrights 2024 <i class="fa-regular fa-copyright me-1" style="font-size: 12px;"></i> <span class="text-primary" style="font-weight: 500;">barik.me</span></small>
        
            <!-- feedback btn
            <a href="{% url 'feedback' %}" class="position-absolute" style="right: 2rem; font-size: .875rem; color: #27b674; font-weight: 600; font-style: italic; text-decoration: underline;">Feedback</a> -->
        </div>
    </div>

    

</footer>