{% extends 'layouts/master.html' %}
{% block title %} My Portfolio {% endblock title %}

{% block content %} 
<main class="main-wrapper">
    <section class="portfolio">
        <div class="container">
            <div class="wrapper">
                <h2 class="heading text-center">My Portfolio</h2>

                <p class="text text-center mt-3">Welcome to my online portfolio! I am a passionate <span class="text-primary">Software Engineer</span> with expertise in front-end and back-end technologies. Here, I showcase my projects, reflecting my commitment to quality, attention to detail, and continuous learning.

                <span class="text-primary">Explore my work</span> and feel free to get in touch if you're interested in collaborating or have any questions. Thank you for visiting, and <span class="text-primary">consider hiring me!</span> </p>

                <div class="text-center"><a href="{% url 'contact' %}" class="btn btn-primary mt-4"><i class="fa-regular fa-hand-point-up me-2"></i>Hire Me</a></div>
            </div>
        </div>
    </section>

    <section class="portfolio-projects  py-5">
        <div class="container">
            <div class="wrapper">
                <!-- projects nav tabs -->
                <div class="d-flex mb-4 mb-lg-5 justify-content-center">
                    <ul class="nav nav-pills text-center mb-3" id="pills-tab" role="tablist">
                        <li class="nav-item" role="presentation">
                          <button class="nav-link active" id="pills-all-tab" data-bs-toggle="pill" data-bs-target="#pills-all" type="button" role="tab" aria-controls="pills-all" aria-selected="true">All</button>
                        </li>
                        <li class="nav-item" role="presentation">
                          <button class="nav-link" id="pills-web-app-tab" data-bs-toggle="pill" data-bs-target="#pills-web-app" type="button" role="tab" aria-controls="pills-web-app" aria-selected="false">Web App</button>
                        </li>
                        <li class="nav-item" role="presentation">
                          <button class="nav-link" id="pills-frontend-tab" data-bs-toggle="pill" data-bs-target="#pills-frontend" type="button" role="tab" aria-controls="pills-frontend" aria-selected="false">Frontend</button>
                        </li>
                        <li class="nav-item" role="presentation">
                          <button class="nav-link" id="pills-backend-tab" data-bs-toggle="pill" data-bs-target="#pills-backend" type="button" role="tab" aria-controls="pills-backend" aria-selected="false" >Backend</button>
                        </li>
                    </ul>
                </div>

                <!-- projects nav tabs content  -->
                <div class="tab-content" id="pills-tabContent">
                    <div class="tab-pane fade show active" id="pills-all" role="tabpanel" aria-labelledby="pills-all-tab" tabindex="0">
                        <div class="row g-4 row-cols-1 row-cols-sm-2">
                            {% for project in projects%}
                                {% include 'components/projects.html' %}
                            {% endfor %}
                        </div>
                    </div>
                    <!-- web app projects -->
                    <div class="tab-pane fade" id="pills-web-app" role="tabpanel" aria-labelledby="pills-web-app-tab" tabindex="0">
                        web app

                    </div>
                    <!-- frontend projects  -->
                    <div class="tab-pane fade" id="pills-frontend" role="tabpanel" aria-labelledby="pills-frontend-tab" tabindex="0">
                        front end
                    </div>
                    <!-- backend projects  -->
                    <div class="tab-pane fade" id="pills-backend" role="tabpanel" aria-labelledby="pills-backend-tab" tabindex="0">
                        backend
                    </div>
                </div>

            </div>
        </div>
    </section>

    <!-- footer  -->
    {% include 'layouts/footer.html' %}
</main>

{% endblock content %}