{% extends 'layouts/master.html' %}
{% load static %}
{% block title %} Services {% endblock title %}

{% block content %}
<main class="main-wrapper">
    <section class="pricing-top">
        <div class="container">
            <div class="wrapper">
                <h1 class="heading text-center align-middle ">Services & Pricing</h1>
                <p class="text mt-3">I have 3+ years of development experience building software for the web and mobile devices. You can take a look at my <a href="{% url 'portfolio' %}" class="text-link" target="_blank">project portfolio</a> and <a href="{% url 'resume' %}" target="_blank" class="text-link">online resume</a> to find out more about my skills and experiences.</p>

                <p class="text text-center mt-3">Interested in hiring me for your project or just want to say hi? You can fill in the <a href="{% url 'contact' %}" class="text-link">contact form</a> or directly <br> send me an email to <a class="text-link" href="mailto: amsbarik24@gmail.com" title="Click to mail!">amsbarik24@gmail.com</a> or call me to <a class="text-link" title="Click to call!" href="tel:+8801723361666">+880 172 3361 666</a></p>
            </div>
        </div>
    </section>

    <section>
        <div class="container">

            <!-- Nav bar  -->
            <div class="d-flex d-md-block justify-content-center">
                <nav class="services-nav nav shadow flex-row ">
                    <a class="flex-fill text-center nav-link active" id="my-services-tab" data-bs-toggle="tab" href="#my-services" role="tab" aria-controls="my-services" aria-selected="true">Services</a>
    
                    <a class="flex-fill text-center nav-link" id="service-packages-tab" data-bs-toggle="tab" href="#service-packages" role="tab" aria-controls="service-packages" aria-selected="false">Packages</a>
                </nav>
            </div>
            
            <div class="tab-content" id="services-tab-content">

                <!-- service start  -->
                <div class="tab-pane fade show active" id="my-services" role="tabpanel" aria-labelledby="my-services-tab">

                    <div class="services pt-5 pb-4 pb-lg-5">
                    
                        <div class="wrapper">
                            <h2 class="heading text-center align-middle">My Services</h2>
                            <p class="text text-center mt-4">As a Software Engineer, I deliver full-stack development and responsive design, crafting tailored, high-performing, secure websites with seamless integration, optimization, and ongoing support.</p>
                            <div class="row g-3 g-lg-5 row-cols-2 row-cols-lg-3 mt-4">
                                {% for service in services %}
                                <div class="col">
                                    <div class="service-card ">
                                        <img src="{{ service.thumbnail.url }}" alt="" class="card-img-top service-img">

                                        <h5 class="card-title mt-3">{{ service.name }} </h5>
                                        <p class="card-text mt-2"> {{ service.short_desc }} </p>

                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                    
                    </div>

                </div>

                <!-- package start  -->
                <div class="tab-pane fade" id="service-packages" role="tabpanel" aria-labelledby="service-packages-tab">

                    <div class="pricing pt-5 pb-4 pb-lg-5">
                        
                        <div class="wrapper">
                            <h2 class="heading text-center align-middle">Service Packages</h2>
                            <p class="text text-center mt-4">I'm currently taking on freelance software development work. You're welcome to contact me for a custom quote for your project. I also offer development service packages with fixed pricing.</p>

                            <div class="d-flex justify-content-center">
                                <div class="table-responsive">
                                    <table class="table table-bordered mt-5">
                                        <thead>
                                            <tr>
                                            <th scope="col"></th>
                                            {% for package in packages %}
                                            <th scope="col" class="text-center align-middle">{{ package.name }} </th>
                                            {% endfor %}
    
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                            <th scope="row" class="card-title">Package Price</th>
                                            {% for package in packages %}
                                            <td class="text-center align-middle price"> US${{ package.price }} </td>
                                            {% endfor %}
                                            </tr>
    
                                            <tr>
                                            <th scope="row" class="card-title">Details</th>
                                            {% for package in packages %}
                                            <td class="text-center align-middle card-text">{{ package.short_desc }} </td>
                                            {% endfor %}
                                            </tr>
    
                                            {% for feature in package_features %}
                                            <tr>
                                            <th scope="row">
                                                <h5 class="card-title">{{ feature.title }} </h5>
                                                <p class="card-text">{{ feature.short_desc }} </p>
                                            </th>
                                            <td class="text-center align-middle ">{% if feature.standard %}  <i class="fa-solid fa-check"></i> {% else %} <i class="fa-solid fa-minus" style="color: var(--dark); font-size: .65rem;"></i> {% endif %}  </td>
                                            <td class="text-center align-middle ">{% if feature.premium %}  <i class="fa-solid fa-check"></i> {% else %} <i class="fa-solid fa-minus" style="color: var(--dark); font-size: .65rem;"></i> {% endif %}  </td>
                                            <td class="text-center align-middle ">{% if feature.bussiness %}  <i class="fa-solid fa-check"></i> {% else %} <i class="fa-solid fa-minus" style="color: var(--dark); font-size: .65rem;"></i> {% endif %}  </td>
                                            </tr>
                                            {% endfor %}
    
                                            <tr>
                                            <th scope="row">
                                                <h5 class="card-title">Revisions</h5>
                                            </th>
                                            {% for package in packages %}
                                            <td class="text-center align-middle">{{ package.revisions }} </td>
                                            {% endfor %}
                                            </tr>
    
                                            <tr>
                                            <th scope="row">
                                                <h5 class="card-title">Delivery Time</h5>
                                            </th>
                                            {% for package in packages %}
                                            <td class="text-center align-middle">{{ package.delivery_time }} </td>
                                            {% endfor %}
                                            </tr>
    
                                        </tbody>
                                        <tfoot>
                                            <tr>
                                                <th scope="row">
                                                </th>
                                                <td class="text-center align-middle"><a href="#" class="btn btn-primary">Book Now</a></td>
                                                <td class="text-center align-middle"><a href="#" class="btn btn-primary">Book Now</a></td>
                                                <td class="text-center align-middle"><a href="#" class="btn btn-primary">Get A Quote</a></td>
                                                </tr>
                                        </tfoot>
                                    </table>
                                </div>
                            </div>

                        </div>
                        
                    </div>
                    
                </div>

            </div>

        </div>
    </section>











    <!-- hire me  -->
     {% include 'components/hire_me.html' %}
    <!-- footer  -->
    {% include 'layouts/footer.html' %}
</main>






{% endblock content %}
