{% extends 'admin_panel/layouts/master.html' %}
{% load crispy_forms_tags %}
{% block title %} Add Project {% endblock title %}

{% block content %} 

<main class="content">
	<div class="container-fluid p-0">

		<h1 class="h3 mb-3"> Project Form</h1>

		<form class="form" action="" method="POST" enctype="multipart/form-data"> {% csrf_token %} 
            
            <div class="row row-cols-1 row-cols-lg-2">
                
                <div class="col">
                    {{ form.name | as_crispy_field }}
                </div>

                <div class="col">
                    {{ form.client | as_crispy_field  }}
                </div>

                <div class="col">
                    {{ form.mobile | as_crispy_field  }}
                </div>

                <div class="col">
                    {{ form.email | as_crispy_field  }}
                </div>

                <div class="col">
                    {{ form.start_date | as_crispy_field  }}
                </div>

                <div class="col">
                    {{ form.end_date | as_crispy_field  }}
                </div>
                
                <div class="col">
                    {{ form.image | as_crispy_field  }}
                </div>
                
                <div class="col">
                    {{ form.budget | as_crispy_field  }}
                </div>
            </div>

            <div >
                {{ form.address | as_crispy_field  }}
            </div>

            <div class="row">
                <div class="col">
                    {{ form.order | as_crispy_field  }}
                </div>
                <div class="col">
                    {{ form.status | as_crispy_field  }}
                </div>
            </div>

            <div >
                {{ form.remark | as_crispy_field  }}
            </div>
            <div >
                {{ form.intro | as_crispy_field  }}
            </div>

            <div >
                {{ form.is_active | as_crispy_field  }}
            </div>

            <button type="submit" class="btn btn-primary mt-4 me-3">Save Project</button>
            <a href="{% url 'project_all' %}" class="btn btn-dark mt-4">Cancell</a>
        </form>
	
	</div>
</main> 



{% endblock content %}
