{% extends 'admin_panel/layouts/master.html' %}
{% load custom_filters %}
{% load crispy_forms_tags %}

{% block title %} User Settings {% endblock title %}

{% block content %} 

{% include 'components/message.html' %}

<h1 class="app-page-title">Settings</h1>
<hr class="mb-4">

<!-- General setting  start  -->
<div class="row g-4 settings-section">
    <div class="col-12 col-md-4">
        <h3 class="section-title">General</h3>
        <div class="section-intro">Settings section intro goes here. Lorem ipsum dolor sit amet, consectetur adipiscing elit. <a href="#">Learn more</a></div>
    </div>
    <div class="col-12 col-md-8">
        <div class="app-card app-card-settings shadow-sm p-4">
            
            <div class="app-card-body">
                
                <form action="{% url 'user_general_setting_form' user_setting.id %}" class="form" method="POST" enctype="multipart/form-data">{% csrf_token %} 

                        <div class="row row-cols-1 row-cols-lg-2">
                            <div class="col"> {{ general_form.logo | as_crispy_field }} </div>
                            <div class="col"> {{ general_form.fav_icon | as_crispy_field }} </div>
                        </div>
                        <div> {{ general_form.index_title | as_crispy_field }} </div>
                        <div> {{ general_form.index_meta_kewords | as_crispy_field }} </div>
                        <div> {{ general_form.short_desc | as_crispy_field }} </div>

                    <button type="submit" class="btn btn-primary mt-4"> Save General</button>
                </form>
            </div><!--//app-card-body-->
            
        </div><!--//app-card-->
    </div>
</div><!--//row-->
<hr class="my-4">

<!-- Social setting  start  -->
<div class="row g-4 settings-section">
    <div class="col-12 col-md-4">
        <h3 class="section-title">Social</h3>
        <div class="section-intro">Settings section intro goes here. Lorem ipsum dolor sit amet, consectetur adipiscing elit. <a href="#">Learn more</a></div>
    </div>
    <div class="col-12 col-md-8">
        <div class="app-card app-card-settings shadow-sm p-4">
            
            <div class="app-card-body">

                <form action="{% url 'user_social_setting_form' user_setting.id %}" class="form" method="POST" enctype="multipart/form-data">{% csrf_token %} 

                        <div class="row row-cols-1 row-cols-lg-2">
                            <div class="col"> {{ social_form.linkedin_url | as_crispy_field }} </div>
                            <div class="col"> {{ social_form.github_url | as_crispy_field }} </div>
                            <div class="col"> {{ social_form.stackoverflow_url | as_crispy_field }} </div>
                            <div class="col"> {{ social_form.twitter_url | as_crispy_field }} </div>
                            <div class="col"> {{ social_form.reddit_url | as_crispy_field }} </div>
                            <div class="col"> {{ social_form.facebook_url | as_crispy_field }} </div>
                        </div>
                        <div> {{ social_form.website_url | as_crispy_field }} </div>

                    <button type="submit" class="btn btn-primary mt-4"> Save Social</button>
                </form>
            </div><!--//app-card-body-->
            
        </div><!--//app-card-->
    </div>
</div><!--//row-->


<!-- Plan start  -->
<!--<hr class="my-4">
 <div class="row g-4 settings-section">
    <div class="col-12 col-md-4">
        <h3 class="section-title">Plan</h3>
        <div class="section-intro">Settings section intro goes here. Lorem ipsum dolor sit amet, consectetur adipiscing elit. <a href="help.html">Learn more</a></div>
    </div>
    <div class="col-12 col-md-8">
        <div class="app-card app-card-settings shadow-sm p-4">
            
            <div class="app-card-body">
                <div class="mb-2"><strong>Current Plan:</strong> Pro</div>
                <div class="mb-2"><strong>Status:</strong> <span class="badge bg-success">Active</span></div>
                <div class="mb-2"><strong>Expires:</strong> 2030-09-24</div>
                <div class="mb-4"><strong>Invoices:</strong> <a href="#">view</a></div>
                <div class="row justify-content-between">
                    <div class="col-auto">
                        <a class="btn app-btn-primary" href="#">Upgrade Plan</a>
                    </div>
                    <div class="col-auto">
                        <a class="btn app-btn-secondary" href="#">Cancel Plan</a>
                    </div>
                </div>
                    
            </div>
            
        </div>
    </div>
</div> -->

<!-- Data &amp; Privacy -->
<!-- <hr class="my-4">
<div class="row g-4 settings-section">
    <div class="col-12 col-md-4">
        <h3 class="section-title">Data &amp; Privacy</h3>
        <div class="section-intro">Settings section intro goes here. Morbi vehicula, est eget fermentum ornare. </div>
    </div>
    <div class="col-12 col-md-8">
        <div class="app-card app-card-settings shadow-sm p-4">						    
            <div class="app-card-body">
                <form class="settings-form">
                    <div class="form-check mb-3">
                        <input class="form-check-input" type="checkbox" value="" id="settings-checkbox-1" checked>
                        <label class="form-check-label" for="settings-checkbox-1">
                            Keep user app activity history
                        </label>
                    </div>

                    <div class="form-check mb-3">
                        <input class="form-check-input" type="checkbox" value="" id="settings-checkbox-2" checked>
                        <label class="form-check-label" for="settings-checkbox-2">
                            Keep user app preferences
                        </label>
                    </div>
                    <div class="form-check mb-3">
                        <input class="form-check-input" type="checkbox" value="" id="settings-checkbox-3">
                        <label class="form-check-label" for="settings-checkbox-3">
                            Keep user app search history
                        </label>
                    </div>
                    <div class="form-check mb-3">
                        <input class="form-check-input" type="checkbox" value="" id="settings-checkbox-4">
                        <label class="form-check-label" for="settings-checkbox-4">
                            Lorem ipsum dolor sit amet
                        </label>
                    </div>
                    <div class="form-check mb-3">
                        <input class="form-check-input" type="checkbox" value="" id="settings-checkbox-5">
                        <label class="form-check-label" for="settings-checkbox-5">
                            Aenean quis pharetra metus
                        </label>
                    </div>
                    <div class="mt-3">
                        <button type="submit" class="btn app-btn-primary" >Save Changes</button>
                    </div>
                </form>
            </div>					    
        </div>
    </div>
</div> -->

<!-- Notifications -->
<hr class="my-4">
<div class="row g-4 settings-section">
    <div class="col-12 col-md-4">
        <h3 class="section-title">Notifications</h3>
        <div class="section-intro">Settings section intro goes here. Duis velit massa, faucibus non hendrerit eget.</div>
    </div>
    <div class="col-12 col-md-8">
        <div class="app-card app-card-settings shadow-sm p-4">						    
            <div class="app-card-body">
                <form class="settings-form">
                    <div class="form-check form-switch mb-3">
                        <input class="form-check-input" type="checkbox" id="settings-switch-1" checked>
                        <label class="form-check-label" for="settings-switch-1">Project notifications</label>
                    </div>
                    <div class="form-check form-switch mb-3">
                        <input class="form-check-input" type="checkbox" id="settings-switch-2">
                        <label class="form-check-label" for="settings-switch-2">Web browser push notifications</label>
                    </div>
                    <div class="form-check form-switch mb-3">
                        <input class="form-check-input" type="checkbox" id="settings-switch-3" checked>
                        <label class="form-check-label" for="settings-switch-3">Mobile push notifications</label>
                    </div>
                    <div class="form-check form-switch mb-3">
                        <input class="form-check-input" type="checkbox" id="settings-switch-4">
                        <label class="form-check-label" for="settings-switch-4">Messages notifications</label>
                    </div>
                    <div class="form-check form-switch mb-3">
                        <input class="form-check-input" type="checkbox" id="settings-switch-5">
                        <label class="form-check-label" for="settings-switch-5">Developer notifications</label>
                    </div>
                    <div class="mt-3">
                        <button type="submit" class="btn app-btn-primary" >Save Changes</button>
                    </div>
                </form>
            </div><!--//app-card-body-->						    
        </div><!--//app-card-->
    </div>
</div><!--//row-->

<hr class="my-4">



{% endblock content %}