{% extends 'admin_panel/layouts/master.html' %}
{% load crispy_forms_tags %}
{% block title %} Resume Award Form {% endblock title %}

{% block content %}

<h1 class="app-page-title">Resume Award Form</h1>

<form action="" method="POST" class="form"> {% csrf_token %}
    
    <div class="row gx-4 gy-2 row-cols-1 row-cols-md-2">
        <div class="col">
            {{ form.name | as_crispy_field }}
        </div>
        <div class="col">
            {{ form.resume | as_crispy_field }}
        </div>
    </div>
    <div class="row">
        <div class="col">
            {{ form.year | as_crispy_field }}
        </div>
        <div class="col">
            {{ form.order | as_crispy_field }}
        </div>
    </div>
    <div >
        {{ form.is_active | as_crispy_field }}
    </div>

    <button type="submit" class="btn btn-primary mt-4 me-3">Submit</button>
    <a href="{% url 'resume_award_all' %}"  class="btn btn-dark mt-4">Cancel</a>
</form>
			    

{% endblock content %}