<section class="hire-me my-5">
    <div class="container">
        <div class="wrapper">
            <h1 class="heading text-center">Want me to help with your project?</h1>
            <p class="text mt-2 text-center">If you take on freelance work, you can use this section to prompt any potential clients to get in touch with you with their project requirements.</p>
            <div class="text-center mt-4"><a href="{% url 'contact' %}" class="btn btn-primary">Hire Me</a></div>
        </div>
    </div>
</section>